# Load SIFT-annotated VCF and filter variants to keep deleterious with high effects

In [2]:
# Annotations impacts definitions
# https://pcingola.github.io/SnpEff/snpeff/inputoutput/

# How many HIGH, MODERATE, LOW, MODIFIER variants in our set of data?

In [3]:
# Load part of the modules
import sys
from cyvcf2 import VCF
import csv

## 1. Load the VCF file in Python dataframe

In [4]:
# For memory, headers are:

#CHROM  POS     ID      REF     ALT     QUAL    FILTER  INFO    FORMAT  B.S.Pet.102     B.S.Pet.104     B.S.Pet.105     B.S.Pet.127     B.S.Pet.128     B.S.Pet.129   B.S.Pet.156     B.S.Pet.157     B.S.Pet.235     B.S.Pet.239     B.S.Pet.241     B.S.Pet.242     B.S.Pet.243     B.S.Pet.244     B.S.Pet.245     B.S.Pet.60    B.S.Pet.60a     B.S.Pet.78      B.S.Pet.80      B.S.Pet.83      B.S.Pet.84      B.S.Pet.89      B.S.Pet.93      B.S.Pet.96      B.S.Pet.97      B.S.Pet.98    B.S.Pet.99      B.S.Pet.B1.133  B.S.Pet.B1.39   B.S.Pet.B13.111 B.S.Pet.B13.44  B.S.Pet.B15.110 B.S.Pet.B15.40  B.S.Pet.B33.131 B.S.Pet.B33.43  B.S.Pet.B44.132       B.S.Pet.B44.41  B.S.Pet.B46.112 B.S.Pet.B46.42  B.S.Pet.ELAE1.195       B.S.Pet.ELAE104.228     B.S.Pet.ELAE111.230     B.S.Pet.ELAE118.233           B.S.Pet.ELAE119.234     B.S.Pet.ELAE27.204      B.S.Pet.ELAE4.196       B.S.Pet.ELAE52.211      B.S.Pet.ELAE62.213      B.S.Pet.ELAE72.214      B.S.Pet.ELAE81.215    B.S.Pet.ELAE82.216      B.S.Pet.ELAE83.217      B.S.Pet.ELAE86.218      B.S.Pet.ELAE93.222      B.S.Pet.ELAE94.223      B.S.Pet.ELAE98.225            B.S.Sym.117     B.S.Sym.117a    B.S.Sym.28      B.S.Sym.28a     B.S.Sym.32      B.S.Sym.48      B.S.Sym.48a     B.S.Sym.B32.140 B.S.Sym.B34.121 B.S.Sym.ELAE46.209    B.aff.augustae30        B.aff.augustae56        B.aff.jagorii65 B.aff.rubella169        B.aff.symbracteosa35    B.aff.tafaensis87       B.aff.weigallii92     B.aikrono237    B.aikrono240    B.antsiranensis175      B.arfakensis29  B.asaroensis115 B.asaroensis46  B.asaroensis46a B.atricha49     B.atricha52   B.augustae164   B.bipinnatifida1        B.bipinnatifida178      B.bipinnatifida178a     B.bipinnatifida1a       B.bipinnatifida38       B.bipinnatifida58     B.brachybotrys147       B.brachybotrys147a      B.brachybotrys205       B.brachybotrys205a      B.bracteosa21   B.brassii202    B.brassii202a   B.brassii207  B.brassii219    B.brassii227    B.cf.fulvovillosa31     B.cf.fulvovillosa31a    B.cf.strigosa120        B.cf.strigosa142        B.chambersiae220              B.cyrtandroides.sp.nov14        B.cyrtandroides.sp.nov14a       B.cyrtandroides.sp.nov16        B.cyrtandroides.sp.nov16a       B.cyrtandroides.sp.nov17      B.cyrtandroides.sp.nov19        B.erodifolia45  B.erodifolia45a B.fractalifolia236      B.fulvovillosa151       B.fulvovillosa151a      B.kaniensis108        B.kaniensis125  B.kaniensis153  B.kaniensis153a B.kaniensis153b B.kaniensis161  B.kaniensis201  B.kaniensis212  B.kaniensis221  B.kaniensis224  B.kaniensis231        B.kemumuensis27 B.lagunensis64  B.leucostricta176       B.longifolia34  B.maguniana180  B.maguniana2    B.maguniana206  B.maguniana226  B.maguniana229        B.maguniana2a   B.maguniana61   B.magunianaHOLO198      B.magxbrassii15 B.malachosticta68       B.maynensis37   B.mimikaensis159        B.mimikaensis159a     B.mindanaensis74        B.modestiflora168       B.octopetala11  B.oligandra162  B.oligandra200  B.pendulousOligandrae13 B.pentandra210  B.peruviana36 B.sandaunensis238       B.sandsiana203  B.serratipetalaELAE115.232      B.sp.ABEG248.174        B.sp.CKYang1598.179     B.sp.EKBOE46.171        B.sp.P.Blanc172       B.sp.P.Blanc2173        B.sp.Rubite488.177      B.sp.SUBOE60.26 B.sp.SUBOE81.54 B.sp.Wilkie29116.71     B.sp.Wilkie29124.76     B.sp.Wilkie29127.72   B.speluncae62   B.stenogyna67   B.stictopoda170 B.stictopoda51  B.stilandra18   B.stilandra18a  B.strigosa113   B.strigosa116   B.subciliata24  B.symbracteosa158     B.symsanguinea139       B.symsanguinea25        B.symsanguinea25a       B.trichopoda50  B.trichopoda53  B.uniflora167   B.vinkii134     B.vinkii138   B.vinkii197     B.vinkii199     B.vinkii208     B.vinkii3       B.vinkii3a      B.vinkii3b      B.weigallii57

In [5]:
# Make a simple script to extract this fields (without separating them at first).
import pandas as pd
import gzip

def read_vcf_to_dataframe(vcf_file):
    opener = gzip.open if vcf_file.endswith(".gz") else open

    with opener(vcf_file, "rt") as f:
        for line in f:
            if line.startswith("#CHROM"):
                header = line.strip().lstrip("#").split("\t")
                break

        rows = []
        for line in f:
            if line.startswith("#"):
                continue
            rows.append(line.strip().split("\t"))

    df = pd.DataFrame(rows, columns=header)

    # Basic type conversion
    df["POS"] = df["POS"].astype(int)
    df["QUAL"] = pd.to_numeric(df["QUAL"], errors="coerce")

    # ------------------
    # Parse INFO field
    # ------------------
    info_dicts = []
    for info in df["INFO"]:
        d = {}
        for item in info.split(";"):
            if "=" in item:
                k, v = item.split("=", 1)
                d[k] = v
            else:
                d[item] = True
        info_dicts.append(d)

    info_df = pd.DataFrame(info_dicts)

    # ------------------
    # Parse samples (keep one column per sample)
    # ------------------
    sample_cols = header[9:]

    def parse_sample(sample_str, keys):
        values = sample_str.split(":")
        return dict(zip(keys, values))

    format_keys = df["FORMAT"].iloc[0].split(":")

    samples_df = pd.DataFrame({
        sample: df[sample].apply(lambda x: parse_sample(x, format_keys))
        for sample in sample_cols
    })

    # ------------------
    # Final dataframe
    # ------------------
    fixed_cols = ["CHROM", "POS", "ID", "REF", "ALT", "QUAL", "FILTER"]

    final_df = pd.concat(
        [
            df[fixed_cols],
            info_df,
            samples_df
        ],
        axis=1
    )

    return final_df

In [6]:
# Testing the extraction script

vcf = "/home/thibauld/Documents/Bioinformatics/Deleterious_alleles_pipeline/Deleterious_alleles_PNG/conserved_SNPs/filtered_in_regions.vcf"
df = read_vcf_to_dataframe(vcf)

print(df.shape)
print(df.columns.tolist()[:20])

(422, 215)
['CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'AC', 'AF', 'AN', 'BaseQRankSum', 'DP', 'ExcessHet', 'FS', 'InbreedingCoeff', 'MLEAC', 'MLEAF', 'MQ', 'MQRankSum', 'QD']

In [7]:
df

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,AC,AF,AN,...,B.uniflora167,B.vinkii134,B.vinkii138,B.vinkii197,B.vinkii199,B.vinkii208,B.vinkii3,B.vinkii3a,B.vinkii3b,B.weigallii57
0,scaffold11,2133652,.,G,"C,GTCA,A",2476.74,.,"2,1,1","0.005263,0.002632,0.002632",380,...,"{'GT': '0/0', 'AD': '10,0,0,0', 'DP': '10', 'G...","{'GT': '0/0', 'AD': '0,0,0,0', 'DP': '0', 'GQ'...","{'GT': '0/0', 'AD': '0,0,0,0', 'DP': '0', 'GQ'...","{'GT': '0/0', 'AD': '0,0,0,0', 'DP': '0', 'GQ'...","{'GT': '0/0', 'AD': '0,0,0,0', 'DP': '0', 'GQ'...","{'GT': '0/0', 'AD': '0,0,0,0', 'DP': '0', 'GQ'...","{'GT': '0/0', 'AD': '0,0,0,0', 'DP': '0', 'GQ'...","{'GT': '0/0', 'AD': '3,0,0,0', 'DP': '3', 'GQ'...","{'GT': '0/0', 'AD': '2,0,0,0', 'DP': '2', 'GQ'...","{'GT': '0/0', 'AD': '0,0,0,0', 'DP': '0', 'GQ'..."
1,scaffold11,5971895,.,T,A,5133.71,.,1,0.002632,380,...,"{'GT': '0/0', 'AD': '637,0', 'DP': '637', 'GQ'...","{'GT': '0/0', 'AD': '0,0', 'DP': '0', 'GQ': '0...","{'GT': '0/0', 'AD': '18,0', 'DP': '18', 'GQ': ...","{'GT': '0/0', 'AD': '36,0', 'DP': '36', 'GQ': ...","{'GT': '0/0', 'AD': '37,0', 'DP': '37', 'GQ': ...","{'GT': '0/0', 'AD': '38,0', 'DP': '38', 'GQ': ...","{'GT': '0/0', 'AD': '42,0', 'DP': '42', 'GQ': ...","{'GT': '0/0', 'AD': '266,0', 'DP': '266', 'GQ'...","{'GT': '0/0', 'AD': '155,0', 'DP': '155', 'GQ'...","{'GT': '0/0', 'AD': '73,0', 'DP': '73', 'GQ': ..."
2,scaffold11,6230609,.,A,C,5654.54,.,1,0.002632,380,...,"{'GT': '0/0', 'AD': '739,0', 'DP': '739', 'GQ'...","{'GT': '0/0', 'AD': '0,0', 'DP': '0', 'GQ': '0...","{'GT': '0/0', 'AD': '110,0', 'DP': '110', 'GQ'...","{'GT': '0/0', 'AD': '48,0', 'DP': '48', 'GQ': ...","{'GT': '0/0', 'AD': '23,0', 'DP': '23', 'GQ': ...","{'GT': '0/0', 'AD': '30,0', 'DP': '30', 'GQ': ...","{'GT': '0/0', 'AD': '0,0', 'DP': '0', 'GQ': '0...","{'GT': '0/0', 'AD': '349,0', 'DP': '349', 'GQ'...","{'GT': '0/0', 'AD': '265,0', 'DP': '265', 'GQ'...","{'GT': '0/0', 'AD': '92,0', 'DP': '92', 'GQ': ..."
3,scaffold11,6230610,.,T,C,2356.86,.,2,0.005263,380,...,"{'GT': '0/0', 'AD': '739,0', 'DP': '739', 'GQ'...","{'GT': '0/0', 'AD': '0,0', 'DP': '0', 'GQ': '0...","{'GT': '0/0', 'AD': '110,0', 'DP': '110', 'GQ'...","{'GT': '0/0', 'AD': '48,0', 'DP': '48', 'GQ': ...","{'GT': '0/0', 'AD': '20,0', 'DP': '20', 'GQ': ...","{'GT': '0/0', 'AD': '30,0', 'DP': '30', 'GQ': ...","{'GT': '0/0', 'AD': '0,0', 'DP': '0', 'GQ': '0...","{'GT': '0/0', 'AD': '349,0', 'DP': '349', 'GQ'...","{'GT': '0/0', 'AD': '265,0', 'DP': '265', 'GQ'...","{'GT': '0/0', 'AD': '92,0', 'DP': '92', 'GQ': ..."
4,scaffold11,6230612,.,G,"GACCTAC,A",69763.90,.,"1,5","0.002632,0.013",380,...,"{'GT': '0/2', 'AD': '359,0,453', 'DP': '812', ...","{'GT': '0/0', 'AD': '0,0,0', 'DP': '0', 'GQ': ...","{'GT': '0/0', 'AD': '110,0,0', 'DP': '110', 'G...","{'GT': '0/0', 'AD': '48,0,0', 'DP': '48', 'GQ'...","{'GT': '0/0', 'AD': '20,0,0', 'DP': '20', 'GQ'...","{'GT': '0/0', 'AD': '30,0,0', 'DP': '30', 'GQ'...","{'GT': '0/0', 'AD': '0,0,0', 'DP': '0', 'GQ': ...","{'GT': '0/0', 'AD': '349,0,0', 'DP': '349', 'G...","{'GT': '0/0', 'AD': '265,0,0', 'DP': '265', 'G...","{'GT': '0/0', 'AD': '92,0,0', 'DP': '92', 'GQ'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,scaffold3,4691596,.,TATC,T,327.03,.,1,0.002632,380,...,"{'GT': '0/0', 'AD': '59,0', 'DP': '59', 'GQ': ...","{'GT': '0/0', 'AD': '0,0', 'DP': '0', 'GQ': '0...","{'GT': '0/0', 'AD': '0,0', 'DP': '0', 'GQ': '0...","{'GT': '0/0', 'AD': '0,0', 'DP': '0', 'GQ': '0...","{'GT': '0/0', 'AD': '0,0', 'DP': '0', 'GQ': '0...","{'GT': '0/0', 'AD': '0,0', 'DP': '0', 'GQ': '0...","{'GT': '0/0', 'AD': '0,0', 'DP': '0', 'GQ': '0...","{'GT': '0/0', 'AD': '17,0', 'DP': '17', 'GQ': ...","{'GT': '0/0', 'AD': '2,0', 'DP': '2', 'GQ': '6...","{'GT': '0/0', 'AD': '0,0', 'DP': '0', 'GQ': '0..."
418,scaffold3,4691597,.,ATCTCAAAACATGAAGACATG,"A,*,ACTCAAAACATGAAGACATG",811.50,.,"1,1,2","0.002632,0.002632,0.005263",380,...,"{'GT': '0/0', 'AD': '59,0,0,0', 'DP': '59', 'G...","{'GT': '0/0', 'AD': '0,0,0,0', 'DP': '0', 'GQ'...","{'GT': '0/0', 'AD': '0,0,0,0', 'DP': '0', 'GQ'...","{'GT': '0/0', 'AD': '0,0,0,0', 'DP': '0', 'GQ'...","{'GT': '0/0', 'AD': '0,0,0,0', 'DP': '0', 'GQ'...","{'GT': '0/0', 'AD': '0,0,0,0', 'DP': '0', 'GQ'...","{'GT': '0/0', 'AD': '0,0,0,0', 'DP': '0', 'GQ'...","{'GT': '0/0', 'AD': '17,0,0,0', 'DP': '17', 'G...","{'GT': '0/0', 'AD': '2,0,0,0', 'DP': '2', 'GQ'...","{'GT': '0/0', 'AD': '0,0,0,0', 'DP': '0', 'GQ'..."
419,scaffold3,4691599,.,C,"*,T",524.95,.,"2,1","0.005263,0.002632",380,...,"{'GT': '0/0', 'AD': '59,0,0', 'DP': '59', 'GQ'...","{'GT': '0/0', 'AD': '0,0,0', 'DP': '0', 'GQ': ...","{'GT': '0/0', 'AD': '0,0,0', 'DP': '0', 'GQ': ...","{'GT': '0/0', 'AD': '0,0,0', 'DP': '0', 'GQ': ...","{'GT': '0/0', 'AD': '0,0,0', 'DP': '0', 'GQ': ...","{'GT': '0/0', 'AD': '0,0,0', 'DP': '0', 'GQ': ...","{'GT': '0/0', 'AD': '0,0,0', 'DP': '0', 'GQ': ...","{'GT': '0/0', 'AD': '17,0,0', 'DP': '17', 'GQ'...","{'GT': '0/0', 'AD': '2,0,0', 'DP': '2', 'GQ': ...","{'GT': '0/0', 'AD': '0,0,0', 'DP': '0', 'GQ': ..."
420,scaffold3,6043092,.,T,"G,A",3726.32,.,"1,2","0.002632,0.005263",380,...,"{'GT': '0/0', 'AD': '484,0,0', 'DP': '484', 'G...","{'GT': '0/0', 'AD': '15,0,0', 'DP': '15', 'GQ'...","{'GT': '0/0', 'AD': '40,0,0', 'DP': '40', 'GQ'...","{'GT': '0/0', 'AD': '35,0,0', 'DP': '35', 'GQ'...","{'GT': '0/0', 'AD': '10,0,0', 'DP': '10', 'GQ'...","{'GT': '0/0', 'AD': '35,0,0', 'DP': '35', 'GQ'...","{'GT': '0/0', 'AD': '50,0,0', 'DP': '50', 'GQ'...","{'GT': '0/0', 'AD': '269,0,0', 'DP': '269', 'G...","{'GT': '0/0', 'AD': '200,0,0', 'DP': '200', 'G...","{'GT': '0/0', 'AD': '106,0,0', 'DP': '106', 'G..."
421,scaffold15,42144934,.,AG,"A,CG",239.80,.,"1,2","0.002646,0.005291",378,...,"{'GT': '0/0', 'AD': '1,0,0', 'DP': '1', 'GQ': ...","{'GT': '0/0', 'AD': '0,0,0', 'DP': '0', 'GQ': ...","{'GT': '0/0', 'AD': '0,0,0', 'DP': '0', 'GQ': ...","{'GT': '0/0', 'AD': '0,0,0', 'DP': '0', 'GQ': ...","{'GT': '0/0', 'AD': '0,0,0', 'DP': '0', 'GQ': ...","{'GT': '0/0', 'AD': '0,0,0', 'DP': '0', 'GQ': ...","{'GT': '0/0', 'AD': '0,0,0', 'DP': '0', 'GQ': ...","{'GT': '0/0', 'AD': '0,0,0', 'DP': '0', 'GQ': ...","{'GT': '0/0', 'AD': '0,0,0', 'DP': '0', 'GQ': ...","{'GT': '0/0', 'AD': '0,0,0', 'DP': '0', 'GQ': ..."

## 2. Extract the genotypes to make a table

In [8]:
# Fields to keep?
# https://gatk.broadinstitute.org/hc/en-us/articles/360035531692-VCF-Variant-Call-Format
# https://gatk.broadinstitute.org/hc/en-us/articles/360035531672-Haplotype-map-format?utm_source=chatgpt.com 

# GT:AD:DP:GQ:PGT:PID:PL:PS
##FORMAT=<ID=GT,Number=1,Type=String,Description="Genotype">
##FORMAT=<ID=AD,Number=R,Type=Integer,Description="Allelic depths for the ref and alt alleles in the order listed">
##FORMAT=<ID=DP,Number=1,Type=Integer,Description="Approximate read depth (reads with MQ=255 or with bad mates are filtered)">
##FORMAT=<ID=GQ,Number=1,Type=Integer,Description="Genotype Quality">
##FORMAT=<ID=PGT,Number=1,Type=String,Description="Physical phasing haplotype information, describing how the alternate alleles are phased in relation to one another">
##FORMAT=<ID=PID,Number=1,Type=String,Description="Physical phasing ID information, where each unique ID within a given sample (but not across samples) connects records within a phasing group">
##FORMAT=<ID=PL,Number=G,Type=Integer,Description="Normalized, Phred-scaled likelihoods for genotypes as defined in the VCF specification">
## PS= phase set

# Example:
# 0/0:1,0:1:3:0,3,12

In [9]:
# Make the table showing genotypes of each samples for each conserved gene.

def extract_genotypes_with_pos(df):
    sample_cols = [c for c in df.columns if isinstance(df[c].iloc[0], dict)]

    gt_df = pd.DataFrame({
        sample: df[sample].apply(lambda x: x.get("GT", None))
        for sample in sample_cols
    })

    return pd.concat([df[["CHROM", "POS"]], gt_df], axis=1)

In [10]:
# Check with present data

extract_genotypes_with_pos(df)

,CHROM,POS,B.S.Pet.102,B.S.Pet.104,B.S.Pet.105,B.S.Pet.127,B.S.Pet.128,B.S.Pet.129,B.S.Pet.156,B.S.Pet.157,...,B.uniflora167,B.vinkii134,B.vinkii138,B.vinkii197,B.vinkii199,B.vinkii208,B.vinkii3,B.vinkii3a,B.vinkii3b,B.weigallii57
0,scaffold11,2133652,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,...,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0
1,scaffold11,5971895,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,...,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0
2,scaffold11,6230609,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,...,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0
3,scaffold11,6230610,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,...,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0
4,scaffold11,6230612,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,...,0/2,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,scaffold3,4691596,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,...,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0
418,scaffold3,4691597,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,...,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0
419,scaffold3,4691599,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0|0,...,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0
420,scaffold3,6043092,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,...,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0
421,scaffold15,42144934,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,...,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0

In [11]:
# Let's output some data to examine the dataframe

# 1. Run function
gt_table = extract_genotypes_with_pos(df)

# 2. Save to CSV
gt_table.to_csv("genotypes.csv", index=False)

In [12]:
import pandas as pd

# Example gt_table
# gt_table = pd.DataFrame({
#     'sample1': ['0/0', '0/1', '1/1', '0|0'],
#     'sample2': ['0/1', '0/0', '1/1', '1|1']
# })

# Count values different from "0/0" and "0|0" in each column
counts = (~gt_table.isin(['0/0', '0|0'])).sum()
print(counts)

CHROM            422
POS              422
B.S.Pet.102        7
B.S.Pet.104        0
B.S.Pet.105        0
                ...
B.vinkii208       16
B.vinkii3         16
B.vinkii3a        40
B.vinkii3b        36
B.weigallii57     29
Length: 192, dtype: int64

In [19]:
# What are the genotypes values? (shown only for B.S.Sym* samples).

unique_values = {
    col: gt_table[col].unique()
    for col in gt_table.columns
    if col.startswith("B.S.Sym")
}

for col, values in unique_values.items():
    print(f"{col}: {values}")

B.S.Sym.117: ['0/0' '1/1' '0/1' '1|1' '0/2']
B.S.Sym.117a: ['0/0' '1/1' '0/1' '1|1' '0/2']
B.S.Sym.28: ['0/0' '0/1' '1/1' '1|1' '0|2' '1/2' '1|2' '2|2']
B.S.Sym.28a: ['0/0' '0/1' '1/1' '1|1']
B.S.Sym.32: ['0/0' '1/1' '0/2' '1|1' '0|1']
B.S.Sym.48: ['0/0' '1/1' '1|1']
B.S.Sym.48a: ['0/0' '1/1' '1|1' '2/2' '0/1']
B.S.Sym.B32.140: ['0/0' '0/1' '1/1' '1|1' '2|2' '0/3' '3|3' '0/2' '0|2' '0|1' '1|2']
B.S.Sym.B34.121: ['0/0' '1/1' '1|1' '2|2']
B.S.Sym.ELAE46.209: ['0/0' '1/1' '1|1' '0|1' '0/1' '2|2' '2/2']

## 3. On another dataframe, extract the SIFT annotations.

In [15]:
# 1. Define ANN
ann_columns = [
    "Allele",
    "Annotation",
    "Impact",
    "Gene_Name",
    "Gene_ID",
    "Feature_Type",
    "Feature_ID",
    "Transcript_BioType",
    "Rank",
    "HGVS_c",
    "HGVS_p",
    "cDNA_pos",
    "CDS_pos",
    "AA_pos",
    "Distance",
    "Errors"
]

# Define the function
#
def parse_ann_field(ann_string):
    if pd.isna(ann_string):
        return pd.Series([None] * len(ann_columns))
    
    # Take first annotation if multiple
    first_ann = ann_string.split(",")[0]
    
    values = first_ann.split("|")
    
    # Pad if missing fields
    if len(values) < len(ann_columns):
        values += [None] * (len(ann_columns) - len(values))
    
    return pd.Series(values[:len(ann_columns)])

In [16]:
ann_df = df["ANN"].apply(parse_ann_field)
ann_df.columns = ann_columns
ann_df

,Allele,Annotation,Impact,Gene_Name,Gene_ID,Feature_Type,Feature_ID,Transcript_BioType,Rank,HGVS_c,HGVS_p,cDNA_pos,CDS_pos,AA_pos,Distance,Errors
0,A,upstream_gene_variant,MODIFIER,Bma030423,null.4442,transcript,Bma030423,protein_coding,,c.-634G>A,,,,,634,
1,A,missense_variant,MODERATE,Bma005962.1,null.4683,transcript,Bma005962.1,protein_coding,4/4,c.934A>T,p.Thr312Ser,934/1413,934/1413,312/470,,
2,C,missense_variant,MODERATE,Bma005980.2,null.4702,transcript,Bma005980.2,protein_coding,7/10,c.822T>G,p.Asn274Lys,822/1416,822/1416,274/471,,
3,C,missense_variant,MODERATE,Bma005980.2,null.4702,transcript,Bma005980.2,protein_coding,7/10,c.821A>G,p.Asn274Ser,821/1416,821/1416,274/471,,
4,GACCTAC,stop_gained&disruptive_inframe_insertion,HIGH,Bma005980.2,null.4702,transcript,Bma005980.2,protein_coding,7/10,c.818_819insGTAGGT,p.Val273_Asn274insTerVal,818/1416,818/1416,273/471,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,T,downstream_gene_variant,MODIFIER,Bma016853.1,null.13036,transcript,Bma016853.1,protein_coding,,c.*3434_*3436delATC,,,,,3434,WARNING_TRANSCRIPT_NO_START_CODON
418,ACTCAAAACATGAAGACATG,downstream_gene_variant,MODIFIER,Bma016853.1,null.13036,transcript,Bma016853.1,protein_coding,,c.*3435delT,,,,,3435,WARNING_TRANSCRIPT_NO_START_CODON
419,T,downstream_gene_variant,MODIFIER,Bma016853.1,null.13036,transcript,Bma016853.1,protein_coding,,c.*3436C>T,,,,,3436,WARNING_TRANSCRIPT_NO_START_CODON
420,A,intergenic_region,MODIFIER,Bma030990-Bma030991,null.13167-null.13168,intergenic_region,null.13167-null.13168,,,n.6043092T>A,,,,,,
421,A,frameshift_variant,HIGH,Bma014354.2,null.10970,transcript,Bma014354.2,protein_coding,5/7,c.1601delC,p.Thr534fs,1601/2226,1601/2226,534/741,,

## 4. Discriminate the High-impact variants

In [17]:
# The plan: identify deleterious alleles and link them to specific samples.

# 1. Detect deleterious alleles:
# Best options to pin down deleterious alleles:
# A. ALT allele
# B. high conservation score (GERP>2).
# C. Functional effect (missense, LOF).

# 2. Convert genotypes into deleterious alleles count
# GT	deleterious alleles
# 0/0	0
# 0/1	1
# 1/1	2
# ./ .	NA

# 3. Compute deleterious load per sample. 
# 4. Identify which variants are deleterious.
# 5. Visualize results (stripplot, load per sample)

In [18]:
# This will be shown in the column below
vcf_an["Annotation_Impact"]

NameError: name 'vcf_an' is not defined

In [ ]:
# This will be shown in the column below
vcf_an["Annotation_Impact"]

In [ ]:
# This will be shown in the column below
vcf_an["Annotation_Impact"]

In [ ]:
# This will be shown in the column below
vcf_an["Annotation_Impact"]

In [ ]:
# Number of distinct (unique) values
# --------------------------------------------------------------
n_unique = vcf_an["Annotation_Impact"].nunique(dropna=True)
print(f"Number of distinct Annotation_Impact values (excluding NaN): {n_unique}")

# Frequency table – each value and its count
# --------------------------------------------------------------
freq_tbl = vcf_an["Annotation_Impact"].value_counts(dropna=False)  # keep NaN as a category if you like
print("\nFrequency of each Annotation_Impact value:")
print(freq_tbl)

In [ ]:
# We write the DataFrame to a CSV file to be able to check all the columns (comma‑separated, with a header line)
vcf_an.to_csv("vcf_an.csv", index=False)   # index=False omits the pandas row index
print("CSV written to vcf_an.csv")

### Selecting high-effect variants

In [ ]:
# Select the high-impact deleterious alleles variants
vcf_an[vcf_an["Annotation_Impact"]=="HIGH"]